<div class="menu app-menu">

  {% if perms.sdc_site.view_article %}
    {% if 'article-' in request.resolver_match.url_name %}
      <div class="menu-article menu-here">
        <a href="{% url 'sdc_site:article-list' %}">Articles</a>
      </div>
    {% else %}
      <div class="menu-article">
        <a href="{% url 'sdc_site:article-list' %}">Articles</a>
      </div>
    {% endif %}
  {% endif %}
  {% if perms.sdc_site.view_rack %}
    {% if 'rack-' in request.resolver_match.url_name %}
      <div class="menu-rack menu-here">
        <a href="{% url 'sdc_site:rack-list' %}">Racks</a>
      </div>
    {% else %}
      <div class="menu-rack">
        <a href="{% url 'sdc_site:rack-list' %}">Racks</a>
      </div>
    {% endif %}
  {% endif %}




  {% if user.is_authenticated %}
    <div class="menu-article">
      <form class="menu-item" method="POST" action="{% url 'logout' %}">{% csrf_token %}<button type="submit" class="menu-item" style="background:none; border:none; padding:0;">Log Out</button></form>
    </div>
  {% else %}
    <div class="menu-article">
      <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
    </div>
  {% endif %}

</div>
