{% extends './_base.html' %}
{% load static %}
{% block content %}
{% endblock %}
{% block bottomscript %}
<script>
  // var objectmenus = document.getElementsByClassName("object-menu")
  // for(i=0; i<objectmenus.length; i++) {
  //   let a = document.createElement("a")
  //   a.href="#"
  //   a.innerText="Submit Form"
  //   a.addEventListener("click", function(e) {
  //     e.preventDefault()
  //     document.getElementById("form_object").submit()
  //   })
  //   let div = document.createElement("div")
  //   div.appendChild(a)
  //   objectmenus[i].appendChild(div)
  // }
</script>
{% endblock %}
