  {% load static %}
  <div class="form">
    {{ form.errors }}
    <form id="form_object" method="POST">
      {{form.media}}
      {% csrf_token %}
      {% include 'touglates/form_field.html' with field=form.title %}
      {% include 'touglates/form_field.html' with field=form.show_title %}
      {% include 'touglates/form_field.html' with field=form.slug %}
      {% include 'touglates/form_field.html' with field=form.author %}
      {% include 'touglates/form_field.html' with field=form.section %}
      {% include 'touglates/form_field.html' with field=form.width %}
      {% include 'touglates/form_field.html' with field=form.iframe_document %}
      {% include 'touglates/form_field.html' with field=form.iframe_src %}
      {% include 'touglates/form_field.html' with field=form.iframe_height %}
      {% include 'touglates/form_field.html' with field=form.content %}
      {% include 'touglates/form_field.html' with field=form.summary %}
      {% include 'touglates/form_field.html' with field=form.if_summary_blank %}
      {% include 'touglates/form_field.html' with field=form.featured_image %}
      {% include 'touglates/form_field.html' with field=form.publish_date %}
      {% include 'touglates/form_field.html' with field=form.display %}

    <h3>Racks</h3>

    {{ hangers.management_form }}
    {% if hangers.errors %}{{ hangers.errors }}{% endif %}
    {% for hangerform in hangers.forms %}
      {% if hangerform.errors %}{{ hangerform.errors }}{% endif %}
      {% if hangerform.id.value  %}
        <div id="div_hangerform_{{ hangerform.id.value }}" class="hangerformsetform formsetform"  >
          {% for hiddenfield in hangerform.hidden_fields %}
            {{ hiddenfield }}
          {% endfor %}
          {% include 'touglates/form_field.html' with field=hangerform.rack %}
          {% include 'touglates/form_field.html' with field=hangerform.expiration_date %}
          {% include 'touglates/form_field.html' with field=hangerform.order %}
          {% include 'touglates/form_field.html' with field=hangerform.DELETE %}
        </div>
      {% else %}
        <div class="hangerformsetform hangernewform formsetform formsetnewform" >
          {% for hiddenfield in hangerform.hidden_fields %}
            {{ hiddenfield }}
          {% endfor %}
          {% include 'touglates/form_field.html' with field=hangerform.rack %}
          {% include 'touglates/form_field.html' with field=hangerform.order %}
          {% include 'touglates/form_field.html' with field=hangerform.expiration_date %}
          {% include 'touglates/form_field.html' with field=hangerform.DELETE %}
        </div>
      {% endif %}
    {% endfor %}
    <table>
      <tr>
        <td><button type="button" id="button_addhanger" data-newform="hangernewform">Add</button></td><td span="*"></td>
      </tr>
      {% for hanger in object.hanger_set.all %}
        <tr id="tr_hanger_{{ hanger.id }}">
          <td><button type="button" id="button_edithanger_{{ hanger.id }}" data-formid="div_hangerform_{{ hanger.id }}" data-displayid="tr_hanger_{{ hanger.id }}" class="hanger_edit_button">edit</button></td><td>{{ hanger.rack }}</td>
        </tr>
      {% endfor %}
    </table>

    <button type="Submit">Submit</button>
    </form>

    For this image:<br/> {{ form.image_select }}<br/>
    optionally with these classes:<br/>
    <select id="ctl_imagewidth"><option value="">---</option>
      <option value=".width10">width: 10%</option>
      <option value=".width20">width: 20%</option>
      <option value=".width30">width: 30%</option>
      <option value=".width40">width: 40%</option>
      <option value=".width50">width: 50%</option>
      <option value=".width60">width: 60%</option>
      <option value=".width70">width: 70%</option>
      <option value=".width80">width: 80%</option>
      <option value=".width90">width: 90%</option>
    </select>
    <select id="ctl_imagefloat"><option value="">---</option>
      <option value=".left">left</option>
      <option value=".right">right</option>
    </select>
    <br/>
    use this code:<textarea class="widthlong" id="ctl_imagecode"></textarea>
  </div>
  <div id="div_imagepreview"></div>

  <script>
    activateFormsetButtons(["hanger",])
  </script>
  <script>
    function generateImageCode(){
      fullCode=""
      imageClasses=""
      imageCode=document.getElementById("id_image_select").value
      if(imageCode) {
        imageClasses = (document.getElementById("ctl_imagewidth").value + " " + document.getElementById("ctl_imagefloat").value).trim()
        if (imageClasses) {
          imageClasses="{" + imageClasses + "}"
        }
        fullCode = imageCode + imageClasses
      }
      document.getElementById("ctl_imagecode").value=fullCode
    }
    function generateImagePreview(){
      fullCode=""
      imageClasses=""
      imageCode=document.getElementById("id_image_select").value
      if(imageCode) {
        imageClasses = (document.getElementById("ctl_imagewidth").value + " " + document.getElementById("ctl_imagefloat").value).trim()
        if (imageClasses) {
          imageClasses="{" + imageClasses + "}"
        }
        fullCode = imageCode + imageClasses
      }
      document.getElementById("div_imagepreview").innerHTML="<img src='" + im
    }

    document.getElementById("id_image_select").addEventListener("change", generateImageCode)
    document.getElementById("ctl_imagewidth").addEventListener("change", generateImageCode)
    document.getElementById("ctl_imagefloat").addEventListener("change", generateImageCode)

  </script>
