<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_article %}
      {% if 'article-list' == request.resolver_match.url_name %}
        <div class="menu-article menu-here">
            <a href="{% url 'sdc_site:article-list' %}">List</a>
        </div>
      {% else %}
        <div class="menu-article">
          <a href="{% url 'sdc_site:article-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_article %}
      {% if 'article-detail' == request.resolver_match.url_name %}
        <div class="menu-article menu-here">
            <a href="{% url 'sdc_site:article-detail' object.pk %}">View</a>
        </div>
      {% elif object.pk %}
        <div class="menu-article">
          <a href="{% url 'sdc_site:article-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_article %}
      {% if 'article-create' == request.resolver_match.url_name %}
        <div class="menu-article menu-here">
            <a href="{% url 'sdc_site:article-create' %}">Add</a>
        </div>

      {% else %}
        <div class="menu-article">
          <a href="{% url 'sdc_site:article-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_article %}
      {% if 'article-update' == request.resolver_match.url_name %}
        <div class="menu-article menu-here">
            <a href="{% url 'sdc_site:article-update' object.pk %}">Edit</a>
        </div>

      {% elif object.pk %}
        <div class="menu-article">
          <a href="{% url 'sdc_site:article-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
