<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_page %}
      {% if 'page-list' == request.resolver_match.url_name %}
        <div class="menu-page menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-page menu-list">
          <a href="{% url 'sdc_site:page-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_page %}
      {% if 'page-detail' == request.resolver_match.url_name %}
        <div class="menu-page menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-page menu-detail">
          <a href="{% url 'sdc_site:page-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_page %}
      {% if 'page-create' == request.resolver_match.url_name %}
        <div class="menu-page menu-here menu-create">
          <button form="form_page" class="menu-item" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-page menu-create">
          <a href="{% url 'sdc_site:page-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_page %}
      {% if 'page-update' == request.resolver_match.url_name %}
        <div class="menu-page menu-update menu-here">
          <button type="submit" form="form_page" class="menu-item menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-page menu-update">
          <a href="{% url 'sdc_site:page-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_page %}
      {% if 'page-delete' == request.resolver_match.url_name %}
        <div class="menu-page menu-delete menu-here">
          <form method="POST" action="{% url 'sdc_site:page-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-item" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-page menu-delete">
          <a href="{% url 'sdc_site:page-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
