<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_rack %}
      {% if 'rack-list' == request.resolver_match.url_name %}
        <div class="menu-rack menu-here">
            <a href="{% url 'sdc_site:rack-list' %}">List</a>
        </div>
      {% else %}
        <div class="menu-rack">
          <a href="{% url 'sdc_site:rack-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_rack %}
      {% if 'rack-detail' == request.resolver_match.url_name %}
        <div class="menu-rack menu-here">
            <a href="{% url 'sdc_site:rack-detail' object.pk %}">View</a>
        </div>
      {% elif object.pk %}
        <div class="menu-rack">
          <a href="{% url 'sdc_site:rack-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_rack %}
      {% if 'rack-create' == request.resolver_match.url_name %}
        <div class="menu-rack menu-here">
            <a href="{% url 'sdc_site:rack-create' %}">Add</a>
        </div>

      {% else %}
        <div class="menu-rack">
          <a href="{% url 'sdc_site:rack-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_rack %}
      {% if 'rack-update' == request.resolver_match.url_name %}
        <div class="menu-rack menu-here">
          <button class="menu-item menu-here" type="submit" form="form_rack" style="background:none; border:none; padding:0;">Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-rack">
          <a href="{% url 'sdc_site:rack-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}
    {% if perms.delete_rack %}
      {% if 'rack-delete' == request.resolver_match.url_name %}
        <div class="menu-rack menu-here">
          <form class="menu-item" method="POST" action="{% url 'sdc_site:rack-delete' object.pk %}">{% csrf_token %}<button class="menu-item" type="submit" style="background:none; border:none; padding:0;">Confirm Delete</button></form>
        </div>
      {% elif object.pk %}
        <div class="menu-rack">
          <a href="{% url 'sdc_site:rack-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
