{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        {% if page %}
            <meta property="og:title" content="{{ object.headline|safe  }}" />

            {% if object.featured_image %}
                <meta property="og:image" content="{{ object.featured_image.url  }}" />
                <meta property="og:image:alt" content="{{ object.featured_image.alt_text  }}" />
                <meta property="og:description" content="{{ object.summary }}" />
            {% else %}
                {% if 'keyed_head_lines' in sdc_site %}
                    {% if 'og_image' in sdc_site.keyed_head_lines %}
                        {{ sdc_site.keyed_head_lines.og_image|safe  }}
                    {% endif %}
                    {% if 'og_image_alt' in sdc_site.keyed_head_lines %}
                        {{ sdc_site.keyed_head_lines.og_image_alt|safe  }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ sdc_site.SITE_NAME }}</title>
        <link rel="stylesheet" href="{% static sdc_site.STATIC_DIR|add:'/sdc_site.css' %}">
        {% if sdc_site.COLORSCHEME %}
          <link rel="stylesheet" href="{% static sdc_site.STATIC_DIR|add:'/'|add:sdc_site.COLORSCHEME|add:'.css' %}">
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
        {% for head_line in sdc_site.head_lines %}
            {{ head_line|safe }}
        {% endfor %}
        {% for head_line in sdc_site.head_lines_replaceable %}
            {{ head_line|safe }}
        {% endfor %}
        <script src="{% static 'touglates/touglates.js' %}"></script>
    </head>
    <body>

        {% if "UPPER_BANNER_IMAGE" in sdc_site and sdc_site.UPPER_BANNER_IMAGE %}
        <div id="upperhead" class="head" {% if "UPPER_HEAD_STYLE" in sdc_site %} style="{{ sdc_site.UPPER_HEAD_STYLE }}"{% endif %}>
          <img src="{{ sdc_site.UPPER_BANNER_IMAGE }}" alt="{{ sdc_site.UPPER_BANNER_IMAGE_ALT }}" class="UPPER_BANNER" {% if 'UPPER_BANNER_IMAGE_STYLE' in sdc_site %} style="{{ sdc_site.UPPER_BANNER_IMAGE_STYLE }}" {% endif %} />
        </div>
        {% endif %}
        <div id="head" class="head">
            <a href="{% url 'sdc_site:homepage' %}">
                {% if sdc_site.BANNER_IMAGE %}
                    <img src="{{ sdc_site.BANNER_IMAGE }}" alt="{{ sdc_site.BANNER_IMAGE_ALT }}" class="banner" {% if 'BANNER_IMAGE_STYLE' in sdc_site %} style="{{ sdc_site.BANNER_IMAGE_STYLE }}" {% endif %} />
                {% endif %}
                {% if sdc_site.BANNER_TEXT %}
                    <div id="bannertext">
                        {{ sdc_site.BANNER_TEXT }}
                    </div>
                {% endif %}
            </a>
        </div>

        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% for menupage in page.menupage_set.all %}
            {% if forloop.first %}
            <div id="menubar">
                {% for item in menupage.menu.menuitem_set.all %}
                    <a href="{{ item.href }}">{{ item.label }}</a>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}

        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <div>
            {{ sdc_site.FOOTER_CONTENT|safe }}
            </div>
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}?next={{ request.path }}">Log Out</a>
                {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
                {% endif %}
            </div>
        </div>
        <script>
          function hideMenuBar () {
            menuItems = document.querySelectorAll("#menubar a")
            for(menuItem of menuItems) {
              if(menuItem.id == "menuItemHide") {
                if(menuItem.innerText == "^") {
                  menuItem.innerText = '\u{2304}'
                } else {
                  menuItem.innerText = "^"
                }
              } else {
                if(menuItem.style.display == "none") {
                  menuItem.style.display = menuBarItemStyleDisplay
                } else {
                  menuItem.style.display = "none"
              }
            }
          }
        }
        var menubar = document.getElementById("menubar")
        var menuBarItemStyleDisplay = ""
        if (menubar != null) {
          var menubarStartingTop = menubar.offsetTop
          var menubarStartingPosition = menubar.style.position
          var menubarHight = menubar.offsetHeight
          if(window.innerWidth < 600 ) {
            var menuItem = document.getElementById("menubar").firstElementChild
            if(menuItem != null) {
              menuBarItemStyleDisplay = menuItem.style.display
              var menuItemHide = menuItem.cloneNode()
              menuItemHide.innerText = "^"
              menuItemHide.href="#"
              menuItemHide.id = "menuItemHide"
              menuItemHide.addEventListener('click', function(e) {
                e.preventDefault()
                hideMenuBar()
              });
            }
            menubar.appendChild(menuItemHide)
          }
        }
        var upperhead = document.getElementById("upperhead")
        if(upperhead != null) {
          var upperheadHeight = upperhead.offsetHeight
        }
        var headHeight = document.getElementById("head").offsetHeight
        function scroll_effects(e) {

          if( menubar != null ) {
            if(window.scrollY > menubarStartingTop) {
              menubar.style.position="sticky"
              menubar.style.top="0"
            } else {
              menubar.style.position = menubarStartingPosition
            }
          }
          if (upperhead != null) {
            if(window.scrollY > (upperheadHeight - menubarHight ) ) {
              upperhead.style.top = ( 0 - ( window.scrollY - ( upperheadHeight - menubarHight ) ) ) + "px"
            }
          }
        }
        window.addEventListener("scroll", function() {scroll_effects();})
      </script>
    </body>
</html>
