{% load static %}
<!DOCTYPE HTML>

<html>
    <head>
        {% if page %}
            <meta property="og:title" content="{{ object.headline|safe  }}" />

            {% if object.featured_image %}
                <meta property="og:image" content="{{ object.featured_image.url  }}" />
                <meta property="og:image:alt" content="{{ object.featured_image.alt_text  }}" />
                <meta property="og:description" content="{{ object.summary }}" />
            {% else %}
                {% if 'keyed_head_lines' in sdc_site %}
                    {% if 'og_image' in sdc_site.keyed_head_lines %}
                        {{ sdc_site.keyed_head_lines.og_image|safe  }}
                    {% endif %}
                    {% if 'og_image_alt' in sdc_site.keyed_head_lines %}
                        {{ sdc_site.keyed_head_lines.og_image_alt|safe  }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ sdc_site.SITE_NAME }}</title>
        <link rel="stylesheet" href="{% static sdc_site.STATIC_DIR|add:'/sdc_site.css' %}">
        {% if sdc_site.COLORSCHEME %}
          <link rel="stylesheet" href="{% static sdc_site.STATIC_DIR|add:'/'|add:sdc_site.COLORSCHEME|add:'.css' %}">
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
        {% for head_line in sdc_site.head_lines %}
            {{ head_line|safe }}
        {% endfor %}
        {% for head_line in sdc_site.head_lines_replaceable %}
            {{ head_line|safe }}
        {% endfor %}
        <script src="{% static 'touglates/touglates.js' %}"></script>
    </head>
    <body>

        {% if "UPPER_BANNER_IMAGE" in sdc_site and sdc_site.UPPER_BANNER_IMAGE %}
        <div id="upperhead" class="head" {% if "UPPER_HEAD_STYLE" in sdc_site %} style="{{ sdc_site.UPPER_HEAD_STYLE }}"{% endif %}>
          <img src="{{ sdc_site.UPPER_BANNER_IMAGE }}" alt="{{ sdc_site.UPPER_BANNER_IMAGE_ALT }}" class="UPPER_BANNER" {% if 'UPPER_BANNER_IMAGE_STYLE' in sdc_site %} style="{{ sdc_site.UPPER_BANNER_IMAGE_STYLE }}" {% endif %} />
        </div>
        {% endif %}
        <div id="head" class="head">
            <a href="{% url 'sdc_site:homepage' %}">
                {% if sdc_site.BANNER_IMAGE %}
                    <img src="{{ sdc_site.BANNER_IMAGE }}" alt="{{ sdc_site.BANNER_IMAGE_ALT }}" class="banner" {% if 'BANNER_IMAGE_STYLE' in sdc_site %} style="{{ sdc_site.BANNER_IMAGE_STYLE }}" {% endif %} />
                {% endif %}
                {% if sdc_site.BANNER_TEXT %}
                    <div id="bannertext">
                        {{ sdc_site.BANNER_TEXT }}
                    </div>
                {% endif %}
            </a>
        </div>

        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% for menu in main_menus %}
            {% if forloop.first %}
            <div id="sitemenu">
                {% for item in menu.menuitem_set.all %}
                    <a href="{{ base_url }}{{ item.href }}">{{ item.label }}</a>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}

        <div id="mainstage">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            <div>
            {{ sdc_site.FOOTER_CONTENT|safe }}
            </div>
            <div>
                {% if user.is_authenticated %}
                <form method="POST" class="menu-item" action="{% url 'logout' %}?next={{ request.path }}">{% csrf_token %}<button type="submit">Log Out</button></form>
                {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
                {% endif %}
            </div>
        </div>
        <script>

var sitemenuHeight = 0
var sitemenu = document.getElementById("sitemenu")
if( sitemenu != null) {
	sitemenuHeight = sitemenu.offsetHeight
	var sitemenuStartingTop = sitemenu.offsetTop
	var sitemenuStartingPosition = sitemenu.style.position
}
var upperheadHeight = 0
var upperhead = document.getElementById("upperhead")
if(upperhead != null) {
	upperheadHeight = upperhead.offsetHeight
}
var headHeight = document.getElementById("head").offsetHeight

if (sitemenu != null) {

	if(window.innerWidth < 600 ) {
		var menuItem = document.getElementById("sitemenu").firstElementChild
		if(menuItem != null) {
			sitemenuItemStyleDisplay = menuItem.style.display
			var menuItemHide = menuItem.cloneNode()
			menuItemHide.innerText = "^"
			menuItemHide.href="#"
			menuItemHide.id = "menuItemHide"
			menuItemHide.addEventListener('click', function(e) {
				e.preventDefault()
				hidesitemenu()
			});
		}
		sitemenu.appendChild(menuItemHide)
	}
}
function scroll_effects(e) {

	if( sitemenu != null ) {
		if(window.scrollY > sitemenuStartingTop) {
			sitemenu.style.position="sticky"
			sitemenu.style.top="0"
		} else {
			sitemenu.style.position = sitemenuStartingPosition
		}
	}
	if (upperhead != null) {
		if(window.scrollY > (upperheadHeight - sitemenuHeight ) ) {
  		upperhead.style.top = ( 0 - ( window.scrollY - ( upperheadHeight - sitemenuHeight ) ) ) + "px"
		}
	}
}
function hidesitemenu () {
	menuItems = document.querySelectorAll("#sitemenu a")
	for(menuItem of menuItems) {
		if(menuItem.id == "menuItemHide") {
			if(menuItem.innerText == "^") {
				menuItem.innerText = '\u{2304}'
			} else {
				menuItem.innerText = "^"
			}
		} else {
			if(menuItem.style.display == "none") {
				menuItem.style.display = sitemenuItemStyleDisplay
			} else {
				menuItem.style.display = "none"
			}
		}
	}
}


window.addEventListener("scroll", function(e) {
  scroll_effects(e);
})



        </script>
    </body>
</html>
