{% extends './_base.html'%}
{% load touglates_tags %}
{% load sdc_site_extras %}
{% block content %}
{% for section in page.section_set.all %}
  <div class="section">
    {% if section.content_before_cases %}
      <div class="section_content">
      {{ section.content_before_cases|safe }}
      </div>
    {% endif %}
    <div class="cases">
      {% for case in section.case_set.all %}
        <div class="case-wrapper" data-width="{{ case.width }}">
          <div class="case" id="case_{{ case.pk }}">
            {% if case.content_before_articles %}
              <div class="case-content">
                {{ case.content_before_articles|safe }}
              </div>
            {% endif %}
            {% for casearticle in case.casearticle_set.all %}
              <div class="article" id="casearticle.article_{{ article.pk }}">
                <h2>{{ casearticle.article.title }}</h2>
                <div class="{{ casearticle.article.content_classes }}" >
                  {{ casearticle.article.content|render_with_format:casearticle.article.content_format|safe }}
                  {% if casearticle.article.iframe_src %}
                    <iframe src="{% get_from_iframe_src casearticle.article.iframe_src 'src' %}" height="{% get_from_iframe_src casearticle.article.iframe_src 'height' %}"></iframe>
                  {% endif %}
                  </div>
              </div>
            {% endfor %}
            {% if case.content_below_articles %}
              <div class="case-content">
                {{ case.content_below_articles|safe }}
              </div>`
            {% endif %}
          </div>
        </div>

      {% endfor %}
    </div>
    {% if section.content_below_cases %}
      <div class="section_content">
      {{ section.content_below_cases|safe }}
      </div>
    {% endif %}

  </div>

{% endfor %}
<script>
  function resizeCases() {
    if(window.innerWidth > 600) {
      var sections = document.getElementsByClassName("section")
      for(var section of sections) {
        var cases = section.getElementsByClassName("case-wrapper")
        var total_widths = 0
        for(var ccase of cases) {
          total_widths += parseInt(ccase.dataset["width"])
        }
        for(var ccase of cases) {
          ccase.style.width = (( 80/total_widths) * ccase.dataset["width"] ) + "%"
        }
      }
    } else {
      var cases = document.getElementsByClassName("case-wrapper")
      for(var ccase of cases) {
        ccase.style.width="90%"
      }
    }
  }
  resizeCases()
  window.addEventListener("resize", resizeCases);
</script>

{% endblock %}
