{% extends './_base.html'%}
{% block content %}
{% for section in page.section_set.all %}
  <div class="section">
    {% if section.content_before %}
      <div class="section_content">
      {{ section.content_before|safe }}
      </div>
    {% endif %}
    {% if section.sectioncolumn_set.all %}
    <div class="columns">
      {% for sectioncolumn in section.sectioncolumn_set.all %}
      <div class="column-wrapper" data-width="{{ sectioncolumn.column.width }}">
        <div class="column" id="column_{{ sectioncolumn.pk }}">
          {{ sectioncolumn.column.content|safe }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% if section.content_after|safe %}
      <div class="section_content">
      {{ section.content_after }}
      </div>
    {% endif %}

  </div>
{% endfor %}
<script>
  function resizeColumns() {
    if(window.innerWidth > 600) {
      var sections = document.getElementsByClassName("section")
      for(var section of sections) {
        var columns = section.getElementsByClassName("column-wrapper")
        var total_widths = 0
        for(var column of columns) {
          total_widths += parseInt(column.dataset["width"])
        }
        for(var column of columns) {
          column.style.width = (( 80/total_widths) * column.dataset["width"] ) + "%"
        }
      }
    } else {
      var columns = document.getElementsByClassName("column-wrapper")
      for(var column of columns) {
        column.style.width="90%"
      }
    }
  }
  resizeColumns()
  window.addEventListener("resize", resizeColumns);
</script>

{% endblock %}
