{% extends './_base.html'%}
{% load touglates_tags %}
{% load sdc_site_extras %}
{% block content %}
        <div class="rack-wrapper" data-width="{{ rack.width }}">
          <div class="rack" id="rack_{{ rack.pk }}">
            {% if rack.content_before_articles %}
              <div class="rack-content">
                {{ rack.content_before_articles|safe }}
              </div>
            {% endif %}
            {% for rackarticle in rack.rackarticle_set.all %}
              <div class="article" id="rackarticle.article_{{ article.pk }}">
                <h3>{{ rackarticle.article.title }}</h3>
                <div class="{{ rackarticle.article.content_classes }}" >
                  {% if rackarticle.article.author.is_staff  %}
                    {{ rackarticle.article.content|safe }}
                  {% else %}
                    {{ rackarticle.article.content }}
                  {% endif %}
                  {% if rackarticle.article.iframe_document %}
                    <iframe src="{% url rackarticle.article.iframe_document.href %}"{% if rackarticle.article.iframe_height %} height="{{ rackarticle.article.iframe_height }}"{% endif %}>"Loading.."</iframe>
                  {% elif rackarticle.article.iframe_src %}
                    <iframe src="{{ rackarticle.article.iframe_src }}"{% if rackarticle.article.iframe_height %} height="{{ rackarticle.article.iframe_height }}"{% endif %}>"Loading.."</iframe>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            {% if rack.content_below_articles %}
              <div class="rack-content">
                {{ rack.content_below_articles|safe }}
              </div>
            {% endif %}
          </div>
        </div>



{% endblock %}
